* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {

	font: 10pt/1.3em 'Lato', sans-serif;
	background-color: hsl(0, 0%, 96%);
	color: hsl(0, 0%, 16%);

	overflow-x: hidden;

}

h1 {

	font-weight: 300;
	margin-bottom: .3em;

}

.wrap {
	
	width: 760px;

	margin: auto;

}

.main {
	margin-top: 40px;
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 14px;
	text-align: justify;

	transition: height 1s ease-out;

}

.menu-wrap {

	width: 100%;



	position: fixed;
	bottom: 50px;

	background-color: hsl(0, 0%, 96%);

	/*border-bottom: 60px hsl(0, 0%, 96%) solid;*/
	box-shadow: 0 0 7px hsla(0, 0%, 0%, .7)

}

.menu {

	width: 1000px;

	margin: auto;


}

.menu li {

	float: left;
	clear: none;

	display: block;

}

.menu a {

	height: 100%;
	width: 100%;

	/*font-weight: 300;*/

	display: block;

	padding: 11px 28px;

	display: block;

	text-align: center;
	color: hsl(0, 0%, 30%);

	/*text-shadow: 0 -1px 2px hsla(0, 0%, 0%, .7);*/

	text-decoration: none;

	transition: background-color .25s ease-out;

}

.menu a:hover, .menu li.active a {
	
	background-color: hsl(0, 0%, 60%);
	color: hsl(0, 0%, 100%);

}




.cf:before, 
.cf:after { content:"";  display:table; }

.cf:after { clear:both; }

.cf { *zoom:1; }
